$main-color: #ffb607;
$bg-color: #f0f8ff;
$box1-color: #ff002a;
$box2-color: #003d69;
$box3-color: #3db2d5;
$box4-color: #dd1146;
$box5-color: #3ab64c;
$text-color: #52575e;
$text-color2: #56225e;
$test-color: #424761;
$bg-color2: #e1faf7;
$footer-color:#232936;
$duration: 0.5s;